@charset "utf-8";
/* CSS Document */


header {
    color: ghostwhite;
    font-size: 40px;
    text-align: center;
    background-color: forestgreen;
}

#wiseImage {

    display: block;
    margin: auto;
}

body {
    color: gray;
    font-size: 18px;
    background-color: mintcream;
}


h2 {
    background-color: darkseagreen;
    color: black;
    font-size: 40px;

}

h3 {
    color: darkgreen;
    font-size: 25px;
}


footer {
    color: black;
    font-size: 18px;
    text-align: center;
}


